html {
    color: #0064e7;
    padding: 5px 1px 1px 5px;
    background: #000000;
    font-family: Arial;
}
label {
    display: block;
    margin-bottom: 5px;
}

h1 {
    margin-left: 30%;
}

.neu {
    display: inline-block;
    border-radius: 35px;
    padding: 15px 25px 15px 25px;
    margin: 20px;
    margin-bottom: 10px;
    background: #000000;
    width: 107px;
}

.mensagem {
    width: 214px;
}

.neuUp {
    border: 5px solid;
    border-color: #0064e7;
   }

.neuDownMin {
    color: #0064e7;;
    border: 2px solid;
    border-color: #0064e7;
    outline: 0;
    display: inline-block;
    border-radius: 5px;
    background-color: #000000;
    text-align: center;
    }

.inputText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 160px;
}

.inputNumber {
    width: 40px;
    margin-bottom: 5px;
    margin-right: 3px;
}

.btn {
    border: 2px solid;
    color: #0064e7;;
    background-color: #000000;
    cursor: pointer;
    border-radius: 15px;

    outline: none;
    text-decoration: none;
   
    padding: 10px;
    
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
   }

.btn:hover {
    border: 2px solid;
    color: #000000;
    background-color: #0064e7;;
    }

.btn:active {
    border: 2px solid;
    color: #0064e7;
    background-color: #000000;
    }